<footer>
        <p><a href="#"><i class="fa fa-facebook-square"></i></a> <a href="#"><i class="fa fa-twitter-square"></i></a> <a href="https://www.instagram.com/juliachack/?hl=en"><i class="fa fa-instagram"></i></a></p>
        <p>&copy; Julia Hack</p>
</footer>
    
</body>
</html>