<body class="container-home">
    <header>
        <div id="header-home">  
            <nav>
                <ul>
                    <li><a href="/">home |</a></li>
                    <li><a href="photography"> photography |</a></li>
                    <li><a href="art"> art |</a></li>
                    <li><a href="about"> about |</a></li>
                    <li><a href="subscribe"> subscribe |</a></li>
                </ul>
            </nav>
            <h1><i class="fa fa-paint-brush"></i>julia <br>hack</h1>
        </div>
    </header>