<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Julia Hack | About</title>
    <link rel="stylesheet" href="/css/aboutstyles.css">
</head>
<%- include partials/header %>

    <main>
        <h2>about</h2>
        <img src="../images/about/IMAG1089.jpg" alt="Photo of Julia" id="photo-of-me">
        <p>Ever since I was a young child I have enjoyed making art.  I took classes in all types of art, including drawing, painting, and ceramics.  As I got older I found I really enjoyed drawing, particularly still life, because I liked the challenge of creating something detailed and realistic.</p>
        
        <p>I attended the University of Calgary and majored in Biological Sciences.  I was curious about science and liked learning about how things work at a cellular and molecular level. After focusing on science for two years, I found that I missed doing creative work, so I decided to take art classes and pursue a minor in art.</p> 
            
        <p>This was the best decision I could have made, as it gave my program balance and revived a passion for creativity that I had lost for a while.  I took courses in drawing, design, color theory, and photography, but found a community within my printmaking courses.  Sometimes I wished I had a full four years to spend in the art department, and I often found it difficult to bring together the two fields I enjoyed.  I frequently explored these ideas in my printmaking and photography work.</p>
        
        <p>After I graduated I worked in the banking industry for a few years. I am currently studying at SAIT to become a web developer, hoping to combine my creative and technical sides once again. </p>
        
        <p>I live in Calgary in my Sunnyside apartment full of plants.</p>
            
    </main>


    <%- include partials/footer %>