<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Julia Hack | Art</title>
    <link rel="stylesheet" href="/css/artstyles.css">
</head>
<%- include partials/header %>

    <main>
        <h2 id="h2print">printmaking</h2>
        <section id="printmaking-gallery">
            <img src="../images/art/printmaking/comparison_etching.JPG" alt="Etching:'Comparison'">
            <img src="../images/art/printmaking/cells_silkscreen.JPG" alt="Silkscreen: 'Cells'">
            <img src="../images/art/printmaking/drypointportrait_stage3edit.JPG" alt="Drypoint-etching: 'Portrait'">
            <img src="../images/art/printmaking/lighthouse_silkscreen.JPG" alt="Silkscreen:'Lighthouse'">
            <img src="../images/art/printmaking/shell_part2_etching.JPG" alt="Etching: 'Shell'">
        </section>

        <h2 id="h2draw">drawing</h2>
        <section id="drawing-gallery">
            <img src="../images/art/drawing/university_cezanne.JPG" alt="Pastel: 'University in Cezanne Style'">
            <img src="../images/art/drawing/duck_bioart.jpg" alt="Still Life: 'Duck'">
            <img src="../images/art/drawing/still_life4_cup.JPG" alt="Still Life: 'Cup'">
            <img src="../images/art/drawing/wildflower_bioart.JPG" alt="Watercolor and Pastel: 'Wildflower'">
            <img src="../images/art/drawing/vertebrae_study_bioart.JPG" alt="Still Life: 'Vertebrae'">
        </section>
    </main>

<%- include partials/footer %>