<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Julia Hack | Home</title>
    <link rel="stylesheet" href="/css/index-styles.css">
</head>

<%- include partials/header %>

<main class="main-home-flex-container">
    <h2>Hi, I'm Julia.  I'm into making art and enjoy creativity in all forms. Here is a small sampling of my work.</h2>
    <div class="card-home-flex-container">
        <div></div>
        <article class="card">
            <h3>Photography</h3>
            <img src="../images/photography/dragonfly.jpg" alt="Dragonfly">
            <p>I take photos of nature, landscapes, and cities. I bring my camera wherever I travel, but I also like to shoot close to home. </p>
            <a href="photography">View my photography</a>
        </article>

        <article class="card">
            <h3>Printmaking</h3>
            <img src="../images/art/printmaking/shell_part2_etching.JPG" alt="Shell etching">
            <p>When the painting class in univeristy was full, I decided to try out printmaking. It turned out to be an art form I really enjoyed. I have worked with etching and silkscreen processes.</p>
            <a href="art#h2print">View my prints</a>
        </article>

        <article class="card">
            <h3>Drawing</h3>
            <img src="../images/art/drawing/vertebrae_study_bioart.JPG" alt="Vertebrae drawing">
            <p>Drawing was my first love in the field of art. I originally drew a lot of still life with graphite, but branched out into other media and more abstract styles of drawing. </p>
            <a href="art#h2draw">View my drawings</a>
        </article>
        <div></div>
    </div>
</main>

<%- include partials/footer %>