<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Julia Hack | Photography</title>
    <link rel="stylesheet" href="/css/photographystyles.css">
</head>
<%- include partials/header %>

    <main>
        <h2 id="h2print">photography</h2>
        <section id="photo-gallery">
            <img src="../images/photography/IMG_4652roadedit.JPG" alt="highway 93" id="highway-93">
            <img src="../images/photography/IMG_0658.JPG" alt="reflection" id="reflection">
            <img src="../images/photography/dragonfly.jpg" alt="dragonfly" id="dragonfly">
            <img src="../images/photography/IMG_4255_edit.JPG" alt="fushimi inari shrine" id="fushimi-inari">
            <img src="../images/photography/IMG_1189.JPG" alt="red flower" id="red-flower">
            <img src="../images/photography/IMG_4165_edit.JPG" alt="harajuku road" id="harajuku-road">
            <img src="../images/photography/IMG_4724editcanmoretrees.JPG" alt="canmore trees" id="canmore-trees">  
        </section>
 
    </main>

<%- include partials/footer %>
