@import url(reset.css);
@import url(global-styles.css);

body{
    min-height: 100vh;
    position: relative;
}

main{
    margin: 10vmin;
    width: auto;
}

h1{
    grid-column: 1/2;
    grid-row: 2/3;
    justify-self: start;
    align-self: center;
    text-align: left;
    margin: 5vmin; 
}

fieldset{
    display: grid;
    grid-template-columns: 15ch 1fr;
    grid-template-rows: auto;
    grid-gap: 1em;
    max-width: 80vw;
    margin: auto;
    border: 0;
}

legend{
    font-size: 2rem;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    margin-bottom: 5vmin;
}

label{
    grid-column: 1/2;
}

input, textarea{
    grid-column: 2/3;
    border: 1px solid #a17e7c;
    margin-bottom: 2vmin;
}

#name, #email{
    width: 30vw;
}

#subject, textarea{
    width: 60vw;
}

#checkbox{
    justify-self: start;
}

#submit-button{
    padding: 2vmin 5vmin;
    margin: 2vmin;
    grid-column: 2/3;
    width: 20vmin;
    max-width: 200px;
    min-width: 150px;
    
    background-color:#9c1208;
    color: white;
    font-size: 1rem;
    border-radius: 10px;
    border: 0;
}

#submit-button:hover{
    background-color: #bf7a0b;
}

footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    margin: auto;

    background-image: url(../images/header-home/watercolour_tulip_mobile.jpg);
    background-size: cover;

    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
}

footer p{
    text-align: center;
    margin: 1vmin;
}

footer a{
    color: black;
    font-size: 1.5rem;
}

footer a:hover{
    color: #9c1208;
}

@media all and (min-width: 480px){
    #name, #email{
        width: 30vw;
    }

    main{
        margin: 5vmin auto;
        width: 70vw;
    }
}